li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  box-sizing: content-box;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid #21cf54;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #21cf54;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #1ba643;
}
